<% if resource.errors.any? %>
  <div class='alert alert-danger mx-auto mt-4 mb-2 w-75'>
    <% resource.errors.full_messages.each do |message| %>
      <%= message %>
      <br>
    <% end %>
  </div>
<% end %>
