= form_with url: pattern, method: 'get', class: 'd-flex' do |f|
  = f.number_field :range_start, required: true, placeholder: 'min', class: 'form-select w-25'
  = f.number_field :range_end, required: true, placeholder: 'max', class: 'form-select mx-4 w-25'
  = f.submit 'Find all', class: 'btn btn-outline-success'
