%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top.border-bottom
  .container
    %a.navbar-brand{ href: '#' } GeekHub
    %button.navbar-toggler{ 'aria-controls': 'navbarsExampleDefault', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation', 'data-target': '#navbarsExampleDefault', 'data-toggle': 'collapse', type: 'button' }
      %span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to 'Home', root_path, class: 'nav-link'
        %li.nav-item
          %a.nav-link{ href: '#' } Link
    %div
      = form_with url: root_path, method: :get, class: "form-inline my-2 my-lg-0 d-flex" do
        = text_field_tag :search, '', placeholder: "Search", class: "me-1 form-control mr-sm-2", id: "autocomplete", data: { title: @products_titles }
        = submit_tag "Search", class: 'btn btn-outline-success my-2 my-sm-0'
