.text-center.row
  .col-lg-3.col-10.mx-auto
    = render 'shared/sidebar'
  .col-lg-9.col-10.mx-auto
    %h1 Products
    .mx-auto.d-block.d-lg-flex.justify-content-center#sorting
      = render 'shared/form_search', pattern: products_path
    #products
      = render 'products/product', products: @products
