.text-center.row
  .col-lg-3.col-10.mx-auto
    = render 'shared/sidebar'
  .col-lg-9.col-10.mx-auto
    %h1 Products
    .w-75.mx-auto.d-block.d-lg-flex
      = render 'shared/form_search', pattern: @product
    = render 'products/product', products: @products
