.text-center.row
  %h1 Products
  .d-flex.ms-5
    = select_tag :sort, options_for_select([['Low-price', 'min'], ['High-price', 'max'], ['From A to Z', 'a_z'], ['From Z to A', 'z_a']], selected: params[:sort]), data: { remote: true, url: root_path }, class: 'form-select w-25 ms-5 me-4'
    = render 'shared/form_search', pattern: @product
  = render 'products/product', products: @products
