<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .order {
        margin: 0 10%;
        text-align: center;
        color: grey;
      }

      .order__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        margin-bottom: 5%;
        padding: 2% 10%;
      }

      .order__total {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
